*{
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
}

h1 { font-size: 3.5em }
h2 { font-size: 2.7em }
h3 { font-size: 2em }
p{ font-size: 1.25em;}
ul { list-style: none;}

button {
    margin-top: 80px;  /* Aumenta el margen para separarlo del header */
    align-self: center;
    padding: 20px 50px; /* Aumenta el padding para hacerlo más grande */
    font-size: 1.5rem;  /* Aumenta el tamaño del texto */
   /* max-width: 200px; /* Evita que el botón se vuelva demasiado grande */
    border: none;
    border-radius: 10px;
    background-color: wheat;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: cadetblue;
   /* transform: scale(1.1); /* se agranda pero se buguea con el header, la barra de arriba */
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento { color: chocolate;}

header {
    background-color: rgb(245, 245, 245);
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:chocolate;
    font-size: 1.9em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color:chocolate;
}
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row; /* Elementos dispuestos horizontalmente */
    min-height: 90vh; /* Asegura que el hero ocupe la mayor parte de la pantalla */
    color: rgb(245, 245, 245);
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("imagenes/fotoSobreMi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;  /* Añade padding superior para asegurar que el contenido no se pegue al header */
}
  
  #hero h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .hero-wrapper {
    
    display: flex;
    flex-direction: row; /* Elementos dispuestos horizontalmente */
    justify-content: center; /* Alinea los elementos al centro */
    align-items: center; /* Centra los elementos verticalmente */
    gap: 40px;
    width: 100%;
    max-width: 1600px; /* Limita el ancho máximo */
    padding: 0 20px; /* Agrega padding para no pegar los elementos a los bordes */
  }
  
  .hero-text {
    background: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
    /*backdrop-filter: blur(3px); /*le da desenfoque*/
    padding: 40px; /* Mayor espacio interno para que se vea más grande */
    border-radius: 10px;
    width: 100%; /* Hace que ocupe un 80% del espacio disponible */
    max-width: 1200px; /* Limita el tamaño máximo del texto */
    font-size: 1.1rem;
    line-height: 1.6; /* Espaciado de líneas para mejor lectura */
    text-align: justify; /* Justifica el texto */
    
  }
  
  @media (max-width: 768px) {
    #hero {
      flex-direction: column; /* En pantallas pequeñas, apilar los elementos verticalmente */
      text-align: center;
    }
  
    .hero-wrapper {
      flex-direction: column; /* Elementos apilados verticalmente en pantallas pequeñas */
      gap: 20px;
    }
  
    .hero-text {
      width: 90%; /* Asegura que el texto ocupe un mayor porcentaje de la pantalla en pantallas pequeñas */
    }
  }
  

#tecnologias {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Hace que la sección ocupe al menos el alto de la pantalla */
    padding: 50px 12px; /* Reducimos el padding */
}

#tecnologias .container {
    width: 100%;
    max-width: 1200px;
    padding: 50px 12px; /* Reducimos el padding superior e inferior */
}

.tecnologias-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.backend, .frontend {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
}

.tech-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.tech-item img {
    width: 80px;
    height: 80px;
}

@media (min-width: 768px) {
    .tecnologias-wrapper {
        flex-direction: row;
        justify-content: center;
    }
    .backend, .frontend {
        width: 45%;
    }
}


#proyectos {
    background-color: rgb(98, 65, 18);
    color: white;
    text-align: center;
}

#proyectos .container {
    padding: 100px 0px;
}

#proyectos h3 {
    margin-top: 0;
}

#proyectos h2 {
    margin-top: 0;
    font-size: 3.2em;
}

#proyectos .carta { /*lo pone para todas las " carta "*/
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta-wrapper {
    
    display: flex;
    flex-direction: row; /* Elementos dispuestos horizontalmente */
    justify-content: center; /* Alinea los elementos al centro */
    align-items: center; /* Centra los elementos verticalmente */
    gap: 40px;
    width: 100%;
    max-width: 1600px; /* Limita el ancho máximo */
    padding: 0 20px; /* Agrega padding para no pegar los elementos a los bordes */
  }
  
  .carta-text {
    background: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
    /*backdrop-filter: blur(3px); /*le da desenfoque*/
    padding: 40px; /* Mayor espacio interno para que se vea más grande */
    border-radius: 10px;
    width: 100%; /* Hace que ocupe un 80% del espacio disponible */
    max-width: 1200px; /* Limita el tamaño máximo del texto */
    font-size: 1.1rem;
    line-height: 1.6; /* Espaciado de líneas para mejor lectura */
    text-align: justify; /* Justifica el texto */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos en la columna */
    
  }

  .carta-text h3 {
    text-align: center; /* Centra el título */
    margin-bottom: 10px; /* Espaciado entre el título y el párrafo */
}

.carta:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("imagenes/crud.png");
    background-position: center;  /* Centra la imagen */
    background-size: contain;     /* Ajusta la imagen sin recortar */
    background-repeat: no-repeat; /* Evita que se repita */
}



.carta:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("imagenes/fotoSobreMi.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("imagenes/PostgreSQL.png");
}
@media (max-width: 600px) {
    #contactame input,
    #contactame textarea {
        font-size: 0.9em;
    }
    #contactame button {
        font-size: 1.1em;
    }
}

#contactame {
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px 12px;
}

#contactame .container {
    max-width: 800px;
    margin: auto;
}

#contactame form {
    width: 100%;
    max-width: 600px;  /* Establece un ancho máximo para que no sea demasiado grande */
    margin: 0 auto;  /* Centra el formulario */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1); /* Fondo sutil */
    border-radius: 10px;
  }

#contactame input,
#contactame textarea {
  width: 100%;  /* Hace que los campos de entrada ocupen todo el espacio disponible */
  padding: 12px;
  margin-bottom: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contactame textarea {
    height: 250px; /* Aumenta la altura del textarea */
    margin-bottom: 5px; /* Reduce el espacio debajo del textarea */
    resize: none; /* Evita que el usuario pueda cambiar el tamaño */
}


#contactame button {
    width: 100%; /* Asegura que el botón también ocupe todo el ancho */
    padding: 15px;
    background-color: wheat;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 5px; /* Reduce el espacio encima del botón */
  }

#contactame button:hover {
    background-color: cadetblue;
    /*transform: scale(1.05);*/
}

#contactame button.enviar {
    width: 100%;
}
form button {
    width: 100%; /* Hace que el botón ocupe todo el ancho del contenedor */
    max-width: none; /* Elimina cualquier límite de ancho */
}

form input, form textarea {
    width: 100%; /* Hace que los campos de texto y textarea ocupen todo el ancho disponible */
    margin-bottom: 10px; /* Agrega un pequeño margen entre los campos */
}

@media (min-width: 720px) {
    header {
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #proyectos .proyectos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* Asegura que las cartas se ajusten en varias filas si es necesario */
        gap: 20px; /* Espaciado entre las cartas */
    }

    #proyectos p {
        display: block;
        margin-bottom: 70px;
    }

    #proyectos .carta {
        padding: 190px 50px;
       
        width: 2500px; /* O ajusta al tamaño que necesites */

        display: flex;
        flex-direction: column;
        justify-content: space-between;  /*Distribuye el contenido verticalmente */
        border: 1px solid #ccc;
        box-sizing: border-box;
    }


    #proyectos h3 {
        margin-top: 0;
    }

#proyectos button {
    margin-top: 100px;
    align-self: center;
    padding: 20px 40px; /* Aumentamos el padding para hacerlo más grande */
    font-size: 1.5rem; /* Aumentamos el tamaño de la fuente */
    max-width: 300px; /* Aumentamos el max-width para permitir un mayor tamaño */
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

    #proyectos button:hover {
        background-color: #555;
        /*transform: scale(1.05);*/
    }
 
    /*
#proyectos button:hover {
    background-color: #f5deb3;
}*/
}